fastapi
uvicorn[standard]
pydantic>=2
requests
python-dotenv
streamlit
pymupdf
pytesseract
pillow
nltk
spacy
tensorflow>=2.16,<2.20
numpy
pyttsx3
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
pytest